/* .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  } */
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;    
}

@media screen and (max-width: 700px){
  .wrapper form{
    flex-direction: column;
  }
}
body{
display: flex;
color: white;
padding: 0px 10px 5px 10px;
min-height: 100vh;
flex-basis: 30%;
flex-direction: row;
align-items: center;
justify-content: center;
background: #0d6fed;
}

.wrapper{
  width: 720px;
  background-color: #000;
  border-radius: 5px;
}
  
.wrapper header{
  font-size: 22px;
  font-weight: 750;
  padding: 20px 30px;
  border-bottom: 1px solid #bfbfbf;
}

.wrapper form{
  padding: 35px 30px;
}


/* A linha de código abaixo define o estilo da imagem que se encontra ao lado do placeholder da caixa de entrada */

.wrapper form i{
  position: relative;
  top: -83%;
  left: 2%;
  color: rgba(0,0,0, 0.3)

}

.wrapper form i.fas.fa-globe{
  position: relative;
  top: -82%;
  left: 1%;
  color: rgba(0,0,0, 0.3)

}

.wrapper form i.fa-solid.fa-comment{
  position: relative;
  top: -82%;
  left: 1%;
  color: rgba(0,0,0, 0.3)

}

form .dbl-field{
  gap: 50px;
  display: flex;
  margin-bottom: 25px;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Esses códigos abaixo são responsáveis por definir o espaçamento do placeholder das caixas de entrada; */

/* O primeiro código refere-se a caixa de entrada de nome. */

/* A segunda, ao email, a terceira ao telefone e, a quarta, ao site. */

input[id^='name']::-webkit-input-placeholder{
  text-indent: 22px;
}

input[id^='email']::-webkit-input-placeholder{
  text-indent: 22px;
}

input[id^='phone']::-webkit-input-placeholder{
  text-indent: 22px;
}

input[id^='website']::-webkit-input-placeholder{
  text-indent: 25px;
}

textarea[id^='message']::-webkit-input-placeholder{
  text-indent: 15px;
}

form .field{
  flex-grow: 1;
}

form .field i{
  padding-top: 10px;
}

form .field input, form .field textarea{
  border: 1px solid black;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

form div.button-area #submit{
  float: right;
}

form div.button-area span{
  float: right;
}

textarea{
  width: 665px;
  height: 150px;
}
span{
  padding-right: 10px;
}