body{
    background-color: black;
}

.container{
    display: flex;
    margin: 150px auto;
    width: 600px;
    height: 400px;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: center;
}


#div1{
    min-height: 80px;
    flex-basis: 25px;
    background-color: red;
}

#div2{
    min-height: 50px;
    flex-basis: 40px;
    background-color: yellow;
}

#div3{
    min-height: 100px;
    flex-basis: 35px;
    background-color: blue;
}

#div4{
    min-height: 20px;
    flex-basis: 80px;
    background-color: pink;
}